// ==========================================================================
// Theme - Black
// ==========================================================================
tm-black = {

// Foundation
// -----------------------------------------------------------------
  text : #fff,
  background : #000,

// Component - Button
// -----------------------------------------------------------------
// Check Box -------------------------------------------------------
  checkbox__label__background : #e2edd7,
  checkbox__label__background--hover : #7caa3f,
  checkbox__label-text : #000000,
  checkbox__check-mark : #53b300,
  checkbox__checkbox : #bbbbbb,
  checkbox__checkbox--hover : #376e00,
// Radio Button ----------------------------------------------------
  radio-button__label__background : #e2edd7,
  radio-button__label__background--hover : #7caa3f,
  radio-button__label-text : #000,
  radio-button__check-mark : #53b300,
  radio-button__checkbox : #bbb,
  radio-button__checkbox--hover : #376e00,
// Toggle Switch ---------------------------------------------------
  toggle-switch__slider : #fff,
  toggle-switch--unchecked : #999,
  toggle-switch--checked : #2196f3,
}