// ==========================================================================
// Border Radius Set
//  prefix:.u-br-*
// ==========================================================================
// Circle --------------------------------------------------------
.u-br-circle
  border-radius 0.8em / 50%
