// ==========================================================================
// Component Button
// ==========================================================================
.c-button
  border 1px solid
  border-radius 0.25em
  display inline-block
  padding 0px 5px
  font-size 16px
  &--accept
    background-color #2196f3
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%)
  &--reject
    background-color #dc143c