// ==========================================================================
// Component Line-Text Box
// ==========================================================================
.c-line-text-box
  border-bottom 1px solid
  transition border-image .2s linear
  &:focus
    border-width 4px
    border-image radial-gradient(circle at center bottom, #28a745 0%,#34d058  50%, #ffffff 100%) 10
  &:disabled
    background-color #999999
